<div class="header">

  <div bb-form-data-store></div>

  <div bb-breadcrumbs ng-init="setRoute([
    {page:'public-booking/_templates/steps/map', title: 'Select a store'},
    {page:'public-booking/_templates/steps/service_list', title: 'Select a service'},
    {page:'public-booking/_templates/steps/calendar', title: 'Select a date'},
    {page:'public-booking/_templates/steps/client', title: 'Client'},
    {page:'public-booking/_templates/steps/check_items', title: 'Review'},
    {page:'public-booking/_templates/steps/checkout', title: 'Confirmation'}
    ])">
  </div>

  <!-- PROGRESSBAR
  <div uib-progressbar value="bb.percentage_complete || 0" type="primary"></div>
  -->

  <!-- STEP INDICATOR
  <div ng-if="bb.current_step" class="step-heading">
    <span ng-if="bb.current_step != 1 && bb.current_step <  bb.allSteps.length" ng-bind="'Step ' + (bb.current_step - 1) + ' of ' + (bb.allSteps.length - 2)"></span>
    <span ng-if="bb.current_step == bb.allSteps.length" ng-bind="'Complete'"></span>
  </div> -->

  <div class="alerts" bb-scroll-to="alert:raised" bb-always-scroll>
    <div uib-alert ng-repeat="alert in $root.alerts" ng-class="'alert-' + alert.type">
      <ul>
        <li ng-bind-html="alert.msg"></li>
      </ul>
    </div>
  </div>

</div>

<div class="content">

  <div bb-content class="ng-cloak"></div>
  <div bb-display-mode></div>

  <div bb-loading class="bb-loader" >
    <div id="loading_icon">
      <div id="wait_graphic">&nbsp;</div>
    </div>
  </div>

</div>

<div bb-dynamic-footer class="footer">
  <div ng-show="isLoaded" class="powered-by">
    <span>Bookings powered by <a href="//www.bookingbug.com" style="text-decoration:none" target="_blank"><span style="color:#087f94">booking</span><span style="color:#88c66f">bug</span></a></span>
  </div>
</div>
