<div class="header">

  <div bb-form-data-store></div>

  <div ng-init="setRoute([
    {page:'public-booking/map/v2/map.html', title: 'Select a store', layoutVersion: 1, name: 'map'},
    {page:'public-booking/services/v2/service_list.html', title: 'Select a service', name: 'service-list'},
    {page:'public-booking/calendar/v2/calendar.html', title: 'Select a date', name: 'calendar'},
    {page:'public-booking/check-items/v2/check-items.html', title: 'Client', name: 'check-items'},
    {page:'public-booking/basket-summary/v2/basket-summary.html', title: 'Summary', name: 'basket-summary'},
    {page:'public-booking/checkout/v2/checkout.html', title: 'Confirmation', name: 'checkout'},
    {page:'public-booking/confirmation/v2/confirmation.html', title: 'Confirmation', name: 'confirmation'}
    ])">
  </div>

  <!-- PROGRESSBAR -->
  <div uib-progressbar value="bb.percentage_complete || 0" type="primary"></div>

  <!-- STEP INDICATOR
  <div ng-if="bb.current_step" class="step-heading">
    <span ng-if="bb.current_step != 1 && bb.current_step <  bb.allSteps.length" ng-bind="'Step ' + (bb.current_step - 1) + ' of ' + (bb.allSteps.length - 2)"></span>
    <span ng-if="bb.current_step == bb.allSteps.length" ng-bind="'Complete'"></span>
  </div> -->

  <div class="alerts" bb-scroll-to="alert:raised" bb-always-scroll>
    <div uib-alert ng-repeat="alert in $root.alerts" ng-class="'alert-' + alert.type">
      <ul>
        <li ng-bind-html="alert.msg"></li>
      </ul>
    </div>
  </div>

</div>

<div class="content">

  <div bb-content class="ng-cloak"></div>
  <div bb-display-mode></div>

  <div bb-loading class="bb-loader" >
    <div id="loading_icon">
      <div id="wait_graphic">&nbsp;</div>
    </div>
  </div>

</div>

<div bb-dynamic-footer class="footer">
  <div ng-show="isLoaded" class="powered-by">
    <span>Bookings powered by <a href="//www.bookingbug.com" style="text-decoration:none" target="_blank"><span style="color:#087f94">booking</span><span style="color:#88c66f">bug</span></a></span>
  </div>
</div>
