$gray-dark: #333;
$panel-default-border: #ddd;
$link-color:            $gray-dark;
$link-hover-color:      $gray-dark;
$link-hover-decoration: none;
$bb-gray: #ccc;
$bb-border: $panel-default-border;
$secondary-border-color: $panel-default-border;
$hyperlink-color: $link-color;