// Override admin-lte variables here.
$boxed-layout-bg-image-path         : "../images/bg-gray.png";
$sidebar-light-bg                   : #f8f8f8;
$sidebar-light-hover-bg             : lighten(#f0f0f1, 2%);
$sidebar-light-color                : #444;
$sidebar-light-hover-color          : #000;
$sidebar-light-submenu-bg           : $sidebar-light-hover-bg;
$sidebar-light-submenu-color        : #777;
$sidebar-light-submenu-hover-color  : #000;
