body{
	font-family: $font-family-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $text-color;
	background-color: $body-bg;
}


/*div.container.ng-isolate-scope > div.content.ng-scope > div:nth-child(1) > h1 {
  color: yellow;
  font-size: 30px;
}*/
