<!DOCTYPE html>
<html lang="en" ng-app="member" bb-api-url="<%= core.api_url %>">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <script src="./<%= chunks.bookingWidgetDependenciesJS %>" type="text/javascript"></script>
    <script src="./<%= chunks.bookingWidgetJS %>" type="text/javascript"></script>
    <link href="./<%= chunks.bookingWidgetCSS %>" type="text/css" media="all" rel="stylesheet"/>

    <script type="text/javascript"
            src="//maps.googleapis.com/maps/api/js?v=3.exp&amp;libraries=places&amp;key=<%= core.google_maps_key %>"></script>

</head>

<body id="bb" class="wb-account">
<div class="page">
    <div bb-widget="{
       company_id: qs('companyId') || '<%= core.company_id %>',
       first_page: 'member/_templates/steps/login',
       clear_member: true,
       route_format: '/{page}',
       template: 'member/_templates/steps-main/main_account'
       }" bb-scroll-to="page:loaded" class="container"></div>


</div>
</body>

<bb-project-version></bb-project-version>

</html>