<h1>overridden</h1>
<div bb-page>

  <h1 translate="PUBLIC_BOOKING.CHECK_ITEMS.STEP_HEADING"></h1>

  <div bb-include="public-booking/templates/_basket_item_summary"></div>

  <form
    name="booking_form"
    role="form"
    novalidate
    bb-form
    class="form-horizontal">

    <!-- <div bb-client-details></div> -->

    <h2
      class="booking-form-header"
      translate="PUBLIC_BOOKING.CHECK_ITEMS.BOOKING_QUESTIONS_HEADING">
    </h2>

    <div bb-item-details></div>

    <div class="bb-step-navigation">
      <div class="row">
        <div class="col-sm-9 col-sm-push-3 text-right">
          <button
            type="submit"
            class="btn btn-primary"
            ng-click="submitForm()"
            translate="PUBLIC_BOOKING.CHECK_ITEMS.NEXT_BTN">
          </button>
        </div>
        <div class="col-sm-3 col-sm-pull-9">
          <button
            type="button"
            class="btn btn-default"
            bb-debounce
            ng-click="loadPreviousStep()"
            ng-show="bb.current_step > 1"
            translate="PUBLIC_BOOKING.CHECK_ITEMS.BACK_BTN">
          </button>
        </div>
      </div>
    </div>

  </form>

</div>
