<div
  class="header"
  aria-hidden="{{!isLoaded || coveredByModal}}">

  <div bb-form-data-store></div>
  <div bb-language-picker></div>

  <!-- BREADCRUMB ROUTE -->
  <!-- <div
    bb-breadcrumbs
    class="breadcrumbs_holder"
    ng-init="setRoute([
      {page:'map', title: 'Select a store'},
      {page:'service_list', title: 'Select a service'},
      {page:'person_list', title: 'Select a person'},
      {page:'calendar', title: 'Select a time'},
      {page:'checkout', title: 'Checkout'},
      {page:'confirmation', title: 'Confirmation'},
      ])">

    <ol class="breadcrumb">
      <li
        ng-repeat="step in bb.allSteps"
        ng-class="{'active': step.active, 'passed': step.passed, 'disabled': isDisabledStep(step)}">
        <button
          type="button"
          ng-click="loadStep(step.number)"
          ng-class="{'active': step.active, 'passed': step.passed}"
          ng-disabled="isDisabledStep(step)">
          <span class="step-num">{{step.number}}.</span>
          <span class="step-title">{{step.title}}</span>
        </button>
      </li>
    </ol>
  </div> -->

  <!-- PROGRESSBAR -->
  <!-- <div
    uib-progressbar
    value="bb.percentage_complete || 0"
    type="primary">
  </div> -->

  <!-- STEP INDICATOR -->
  <!-- <div
    ng-if="bb.current_step"
    class="step-heading">
    <span
      ng-if="bb.current_step != 1 && bb.current_step <  bb.allSteps.length"
      ng-bind="'Step ' + (bb.current_step - 1) + ' of ' + (bb.allSteps.length - 2)">
    </span>
    <span
      ng-if="bb.current_step == bb.allSteps.length"
      ng-bind="'Complete'">
    </span>
  </div> -->

  <div
    ng-hide="coveredByModal"
    class="alerts"
    bb-scroll-to="alert:raised"
    bb-always-scroll>
    <div
      uib-alert
      ng-repeat="alert in $root.alerts"
      ng-class="'alert-' + alert.type">
      <ul>
        <li ng-bind-html="alert.msg"></li>
      </ul>
    </div>
  </div>

</div>

<div
  class="content"
  aria-hidden="{{!isLoaded || coveredByModal}}">

  <div bb-content class="ng-cloak"></div>

  <div bb-loading class="bb-loader">
    <div id="loading_icon">
      <div id="wait_graphic">&nbsp;</div>
    </div>
  </div>

</div>

<div
  bb-dynamic-footer
  class="footer"
  aria-hidden="{{!isLoaded || coveredByModal}}">
  <div ng-show="isLoaded" class="powered-by">
    <span>
      <span translate="PUBLIC_BOOKING.MAIN.POWERED_BY"></span>
      <a
        href="//www.bookingbug.com"
        style="text-decoration:none"
        target="_blank">
        <span style="color:#087f94">booking</span>
        <span style="color:#88c66f">bug</span>
      </a>
    </span>
  </div>
</div>
