$icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
$brand-primary: #d21548;
@import "./stylesheets/bootstrap-variables";
@import './stylesheets/font-awesome.scss';
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "./stylesheets/bb-variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins";

body {
  background: whitesmoke;
  font-family: "myriad-pro";
}

.btn.btn-primary--outlined {
  @include button-variant($brand-primary, white, $brand-primary);
}

.btn.btn--rounded {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}

.panel {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px #e1e1e1;
}