<!DOCTYPE html>
<html ng-app="studio" id="bb-scope" bb-api-url="<%= core.api_url %>">
<head>
    <meta charset="UTF-8">
    <title>BookingBug Dashboard</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic'
          rel='stylesheet' type='text/css'>

    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;libraries=places&amp;key=<%= core.google_maps_key %>"></script>

    <script src="./<%= chunks.bookingWidgetDependenciesJS %>" type="text/javascript"></script>
    <script src="./<%= chunks.bookingWidgetJS %>" type="text/javascript"></script>
    <link href="./<%= chunks.bookingWidgetCSS %>" type="text/css" media="all" rel="stylesheet"/>
</head>

<body>
    <div class="skin-default" bb-admin-dashboard id="bb" bb="bb" body-resize></div>
    <bb-project-version></bb-project-version>
</body>

</html>

