.company-search-no-results {
  background: #FFFFFF;
  border-radius: 3px;
  padding: 8px 10px;
  font-weight: 600;
  font-size: 1em;
  border: solid #ccc 1px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top: none;
}
.company-search {
  ul.dropdown-menu {
    border: 0;
    max-height: 250px;
    overflow: scroll;
  }
}
